<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="dns-prefetch" href="//ajax.googleapis.com" />
	<title>MAC PAN</title>
</head>
<%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js' %>
<%= javascript_include_tag 'application' %>
<body>
	<%= yield %>
</body>
</html>