<ul id='messages'></ul>
<div id='macpan_score' class='score'>
  0
</div>
<div id='blinky_score' class='score'>
  0
</div>
<div id='pinky_score' class='score'>
  0
</div>
<div id='inky_score' class='score'>
  0
</div>
<div id='clyde_score' class='score'>
  0
</div>
<div id="board">
  
  <div class='powerup'style='top:5px; left:5px'>
    
  </div>
  <div class='powerup' style='top:5px; right:5px'>
    
  </div>
  <div class='powerup' style='bottom:5px; left:5px'>
    
  </div>
  <div class='powerup' style='bottom:5px; right:5px'>
    
  </div>
</div>