a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video{border:0;font:inherit;font-size:100%;margin:0;outline:0;padding:0;vertical-align:baseline}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{ display:block; }
body{line-height:1}
ol, ul{list-style:none}
blockquote, q{quotes:none}
blockquote:before, blockquote:after, q:before, q:after{content:'';content:none}
ins{text-decoration:none}
del{text-decoration:line-through}
table{border-collapse:collapse;border-spacing:0}

body, input, select, textarea{ font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:11px; line-height:18px; }

html,body{ margin:0; padding:0; height:100%; width:100%; background:#444; position:relative; }

#board{ background:black image-url('level-map.svg'); height:600px; width:900px; position:relative; margin:0 auto; border-radius:10px; position:absolute; 
	left:50%; margin-left:-450px; top:50%; margin-top:-300px; background-size:100% 100%;
	&.splash{ background:image-url('splash.png') center no-repeat; }
}

span.player{ display:block; position:absolute; width:40px; height:40px; position:relative;
	background-size:auto 100%; -webkit-transition-property:top, left; -webkit-transition-duration:.2s;
	&.pacman{ background:url("/assets/pac-man.gif") no-repeat; 
		&.up{ -webkit-transform:rotate(-90deg); }
		&.down{ -webkit-transform:rotate(90deg); }
		&.left{ -webkit-transform:rotate(180deg); }
		&.right{ -webkit-transform:rotate(0deg); }
	}
	&:not(.pacman){
		&:before, &:after{ content:'.'; font-size:30px; position:absolute; top:5%; color:blue; font-weight:bold; }
		&.up:before, &.up:after{ top:1%; }
		&.down:before, &.down:after{ top:3%; }
		&.up:before, &.down:before{ left:15%; }
		&.up:after, &.down:after{ right:35%; }
		&.right:before, &.right:after, &.left:before, &.left:after{ top:2%; }
		&.left:before{ left:8%; }
		&.left:after{ right:40%; }
		&.right:before{ left:20%; }
		&.right:after{ right:25%; }
	}
	&.pinky{ background:url("/assets/pinky.png") no-repeat; } 
	&.blinky{ background:url("/assets/blinky.png") no-repeat; }
	&.inky{ background:url("/assets/inky.png") no-repeat; }
	&.clyde{ background:url("/assets/clyde.png") no-repeat; }
}

.score{background:white; height:50px; width:50px; color:black; font-size:30px}
#clyde_score{background:yellow; color:white}
#blinky_score{background:red; color:white}
#inky_score{background:blue; color:white}
#pinky_score{background:#FF69B4; color:white}

.powerup{background:white; width: 10px; height: 10px; position:absolute}







